.box-social-media__box-facebook .box-social-media__box-scroll,
.box-social-media__box-instagram .box-social-media__box-scroll,
.box-social-media__box-twitter .box-social-media__box-scroll { max-height: 560px; }
.carousel-audio { display: block; }

.audios-list__image { margin-right: 0; }
.audios-list__text {
  padding: 0;
  position: relative;
}
.audios-list__text-link {
    top: 0;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    right: 0;
    z-index: 0;
}
.base-tooltip>span {
    margin: 18px 20px 0 25px;
    display: inline-block;
}
.box-title-page .subtitle { margin-top: 25px; }
.box-tabs .content-tab__content h2 {
	margin: 0 0 27px;
	font-weight: 400;
	font-family: Sansita,sans-serif;
	font-size: 1.8rem;
	color: #2f9187;
}
.box-tabs .content-tab__content h3 {
	margin: 0 0 27px;
	font-weight: 400;
	font-family: Sansita,sans-serif;
	font-size: 1.5rem;
	color: #2f9187;
}
.box-tabs .content-tab__content p,
.box-tabs .content-tab__content > span,
.box-tabs .content-tab__content > strong { margin-bottom: 15px; }
.carousel-highlights img { min-height: 70px; }
.pagination, .pagination-list { flex-wrap: nowrap; }
.header h1 { height: 32px; }
